*{
  margin:0;
  text-align: center;
}

#nav-container{
  padding: 30px 20px;
  display:flex;
  justify-content: space-between;
}

#user-info{
  border:5px solid transparent;
  border-radius: 10px;
  padding:10px 15px;
}

.edit-btn{
  background-color: transparent;
  margin-top:5px;
  border-radius: 10px;
  border: 2px solid rgb(120, 13, 13);
  color:rgb(116, 15, 15);
  font-weight: bold;
  padding: 3px 10px;
  cursor: pointer;
}

.save-btn{
  background-color: transparent;
  margin-top:5px;
  border-radius: 10px;
  border: 2px solid rgb(120, 13, 13);
  color:rgb(116, 15, 15);
  font-weight: bold;
  padding: 3px 10px;
  cursor: pointer;
}

#logout-btn{
  border: 3px solid rgb(120, 13, 13);
  border-radius: 10px;
  height: 20px;
  padding:5px 15px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(116, 15, 15);
  background-color: transparent;
}
#logout-btn:hover{
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgb(222, 14, 42);
}
#logout-btn:focus{
  background-color:rgb(116, 15, 15);
  color: white;
}

#app-title{
  margin:30px 20px;
  text-shadow:1px 1px 5px rgb(103, 16, 16);
  color:rgb(173, 46, 86);
  font-size: 2.7rem
}
#match-container{
  display: flex;
  justify-content: center;
}

.card-div{
  border-radius: 10px;
  width: fit-content;
  padding: 30px 30px;
}

.like-btn{
  margin:10px 15px 0px 0px;
  background-color: transparent;
  padding:5px 10px;
  font-weight: bold;
  border:2px solid rgb(91, 154, 91);
  border-radius: 10px;
  cursor: pointer;
}
.like-btn:hover{
  box-shadow: 1px 1px 5px green;
}

.dislike-btn{
  margin:10px 0px 0px 15px;
  background-color: transparent;
  padding:5px 10px;
  font-weight: bold;
  border:2px solid rgb(154, 91, 91);
  border-radius: 10px;
  cursor: pointer;
}
.dislike-btn:hover{
  box-shadow: 1px 1px 5px rgb(220, 18, 18);
}

#gen-btn-container{
  margin:10px;
  display: flex;
  justify-content: space-around;
}

#filter-females, #filter-all, #filter-males, #add-btn, .unmatch-btn{
  background-color:transparent;
  padding: 3px 8px;
  border-radius: 10px;
  font-weight: bold;
}

#filter-females{
  border: 3px solid pink;
}
#filter-females:hover{
  box-shadow: 1px 1px 6px pink;
  cursor: pointer;
}

#filter-all{
  border: 3px solid rgb(124, 2, 195);
}
#filter-all:hover{
  box-shadow: 1px 1px 6px rgb(124, 2, 195);
  cursor: pointer;
}

#filter-males{
   border: 3px solid darkblue;
}
#filter-males:hover{
  box-shadow: 1px 1px 6px darkblue;
  cursor: pointer;
}

#age-filter-container{
  margin:15px;
}

#add-btn{
  border: 2px solid rgb(76, 168, 88);
  color:rgb(43, 88, 49);
}
#add-btn:hover{
  box-shadow: 1px 1px 6px rgb(76, 168, 88);
  cursor: pointer;
}

#saved-matches{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:10px;
  margin:15px 0;
}
.unmatch-btn{
  margin: 10px 0;
  border: 2px solid rgb(120, 13, 13);
  color:rgb(116, 15, 15);
}
.unmatch-btn:hover{
  box-shadow: 1px 1px 6px rgb(116, 15, 15);
  cursor: pointer;
}

.liked-match-txt{
  color:rgb(141, 57, 71);
  margin:15px 0;
  text-shadow: 1px 1px 5px rgb(231, 82, 107);
}